---
layout: default
---

<article class="blog-post">
    <header>
        <h1>{{ page.title }}</h1>
        <p class="article-metadata">
            {{ page.date | date: "%d %B %Y" }} - Estimated Read Time: ~{{ content | number_of_words | divided_by: 200 }}
            min
        </p>
        <div class="post-tags">
            {% for tag in page.tags %}
            <a class="post-tag" href="/blog/tags#{{ tag | downcase }}">#{{ tag }}</a>
            {% endfor %}
        </div>
    </header>
    <section class="post-content">
        {{ content }}
    </section>
</article>